.portfolio__container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 5%;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-info {
    padding: 1.3rem;
}

.portfolio__item h3{
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-white);
}

.portfolio__item p{
    color: var(--color-light);
    display: block;
    width: 90%;
    margin-bottom: 1rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;      
}


.portfolio__item-image{
    border-radius: 1.5rem;
    height: fit-content;
    overflow: hidden;
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1.2rem;     
    }

    .portfolio__item {
        grid-template-columns:  1fr;
        gap: 1.2rem;     
    }
    
    .portfolio__item p{
        width: 100%;
    }

}


/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;     
    }

    .portfolio__item {
        grid-template-columns: 1fr;
        gap: 1.2rem;     
    }

    .portfolio__item p{
        width: 100%;
    }
}